*{
    margin:0;
    padding: 0;

}

textarea:focus, input:focus, button:focus{
    outline: none !important;
    box-shadow:none !important;
}
a{
    text-decoration: none;
}
.modal-body{
    margin: auto!important;
    max-width: 100%;
}
.dropdown-item{
    cursor: pointer!important;
}
button{
    cursor: pointer;
    background-color: transparent;
    border:none;
}
/*serche*/
.serche_fluid{
    z-index: 1111;
    position: fixed;
}
.search_container{
    background-color: #f8f9fa!important;
    margin-top: -4px;
}
.serche_data{
    flex-direction:column;
    max-height: 500px;
    overflow-y: auto;
}
.serche_item{
    width:100%;
    cursor:pointer;
    color: #0056b3;
    text-decoration: none!important;
    
}
.driver, .serche_item:hover{
    text-decoration: none!important;
}
.name_form{
    padding: 10px 0px 10px 15px!important;
}
.name_form p{
    font-family: 'Rokkitt', serif;
    font-weight: 500 !important;
    font-size: 14px;
    color: #88898a;
    padding: 2px 0 0 0;
}
.driver{
    padding: 5px 0 0px 16px;
    margin:0!important;
}
.driver:hover{
    background-color:#eaeaea;
    border-bottom: 1px solid #c3c3c3;

}
/***/
/** ===========================================================*/
/**     nav bar*/
/** ===========================================================*/
/***/
.nav-ul{
    position: relative;
    right: 19.3%;
}
.nav-form{
    position: relative;
    left: 15%;
}
.nav-serch{
    float: left;
    margin-right: 17px;
}

.navbar_icon i{
    color: gray;
    font-size: 25px;
}

.formSerch{
    width: 90%;
    margin: auto;
}

.userMenuImg{
    width: 25px;
    height: 25px;
    /*border: 1px solid green;*/
}

/*post*/
.postInfo{
    display: flex;
    flex-direction: column;
}
/*
*
* ===========================================================
*     HERO SECTION
* ===========================================================
*
*/
.hero {
    padding: 6.25rem 0px !important;
    margin: 0px !important;
}
.cardbox {
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 0px !important;
}

/* ------------------------------- */
/* Cardbox Heading
---------------------------------- */
.cardbox .cardbox-heading {
    padding: 16px;
    margin: 0;
}
/*.img_div{*/
/*    height: 700px;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-size: contain;*/
/*}*/
.cardbox .btn-flat.btn-flat-icon {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    background: transparent;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cardbox .float-right .dropdown-menu{
    position: relative;
    left: 13px !important;  
}
.cardbox .float-right a:hover{
    background: #f4f4f4 !important;	
}
.cardbox .float-right a.dropdown-item {
    display: block;
    width: 100%;
    padding: 4px 0px 4px 10px;
    clear: both;
    font-weight: 400;
    font-family: 'Abhaya Libre', serif;
    font-size: 14px !important;
    color: #848484;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

/* ------------------------------- */
/* Media Section
---------------------------------- */
.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}
.media .mr-3{
    margin-right: 0.1rem ;
}
.media img{
    width: 48px ;
    height: 48px ;
    padding: 2px;
    border: 2px solid #f4f4f4;
} 
.media-body {
    -ms-flex: 1;
    flex: 1;
    padding: .4rem !important;
}
.media-body p{
    font-family: 'Rokkitt', serif;	
    font-weight: 500 !important;
    font-size: 14px;
    color: #88898a;
}
.media-body small span{
    font-family: 'Rokkitt', serif;	
    font-size: 12px;
    color: #aaa;
    margin-right: 10px;
}


/* ------------------------------- */
/* Cardbox Item
---------------------------------- */
.cardbox .cardbox-item {
    position: relative;
    display: block;
}
.cardbox .cardbox-item img{
    width: 100%!important;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}	
.fw {
    width: 100% !important;
    height: auto;
}


/* ------------------------------- */
/* Cardbox Base
---------------------------------- */
.cardbox-base{
    border-bottom: 2px solid #f4f4f4;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}	
.cardbox-base ul{
    margin: 10px 0px 10px 15px!important; 
    padding: 10px !important;
    font-size: 0px;	
    display: inline-block;
}
.cardbox-base li {
    list-style: none;
    margin: 0px 0px 0px -8px !important;
    padding: 0px 0px 0px 0px !important;
    display: inline-block;
}

.cardbox-base li a{
    margin: 0px !important;
    padding: 0px !important;
}
.cardbox-base li a i{
    position: relative;
    top: 4px; 
    font-size: 18px;
    color: #8d8d8d;
    margin-right: 15px;
}
.cardbox-base li a span{
    font-family: 'Rokkitt', serif;
    font-size: 14px;
    color: #8d8d8d;
    margin-left: 12px;
    position: relative;
    top: 5px; 
}
.cardbox-base li a em{
    font-family: 'Rokkitt', serif;
    font-size: 14px;
    color: #8d8d8d;
    position: relative;
    top: 3px; 
}
.cardbox-base li a img{
    width: 25px;
    height: 25px;
    margin: 0px !important;
    border: 2px solid #fff;
}


/* ------------------------------- */
/* Cardbox .Comments
---------------------------------- */
.comments_modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
}
.cardbox-comments{
    padding: 2px 2px 4px 6px !important;
    font-size: 0px;	
    text-align: center;
    display: inline-block;
    display: flex;
    flex-direction: column;
}
.cardbox-comments form{
    width:100%;
}
.cardbox-comments .comment-avatar img{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
}
.cardbox-comments .comment-body {
    /*overflow: auto;*/
    display: flex;
    flex-direction: row;
    padding: 5px 0 0 0;
    
}

.comment-body input[type="text"] {
    background-color: #fff;
    line-height: 10px;
    border: none;
    border-radius: 4px;
    width: 85%;
    font-family: 'Rokkitt', serif;
    font-size: 14px;
    color: #8d8d8d;
    height: inherit;
    font-weight: 700;
    margin-left: 5px;
}
.comment-body button {
    border: none;
    background-color: transparent;
    color: #bbbbbb;
    cursor: pointer;
    width: 14%;
    border-left: 2px solid;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.comment-body  button i {
    font-size: 30px;
    line-height: 30px;
    display: block;
}

.comment_img{
    width: 48px;
    height: 48px;
    padding: 2px;
    border: 2px solid #f4f4f4;
}
#comment{
    background-color: #a2a2a2;
    overflow-y: scroll;
}

.comment_head ul li .fa-times{
    font-size: 30px;
    position: absolute;
    /*right: 23px;*/
    top: 16px;
}

.comment-content p{
    margin: 0!important;
}
.comments-container {
	max-width: 100%;
	padding: 0 4px 0 0;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 30px;
    position: relative;
}
.comment_container{
    margin-top: 30px;
    position: relative;
    max-height: 720px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.liked{
    color: red !important;
}
.like_unlike i{
    font-size: 22px !important;
}
.like_unlike{
    position: relative;
    min-height: 28px;
    top: 4px;
}

/**
 * comments section
 -----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 23px;
	top: 0;
}

.comments-list:after {
	content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 20.9px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
    width: 18px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 20px;
    left: -10px;
}


.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 30px;
	clear: both;
	margin-top: 15px;
}
/**
 * comment avatar
 ---------------------------*/
.comments-list .comment-avatar {
	z-index: 99;
	float: left;
}


.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * 
 ---------------------------*/
.comments-list .comment-box {
	max-width:80%;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}


.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin:0 10px 0 0;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


/* ------------------------------- */
/* Author
---------------------------------- */
.author a{
 font-family: 'Rokkitt', serif;
 font-size: 16px;
 color: #00C4CF;
}
.author p{
 font-family: 'Rokkitt', serif;
 font-size: 16px;
 color: #8d8d8d;
}

/* ------------------------------- */
/* user
---------------------------------- */
.user_img{
    width: 150px !important;
    height: 150px !important;
}
.user_media{
    flex-direction: column;
    text-align: center;
    width: 100%;
    /*margin: auto !important;*/
}
.user_flex{
    width: auto !important;
    margin: auto !important;
    display: flex;
    flex-direction: column;
}


/*file input*/
.userLabel{
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}
.userLabel p{
    overflow: hidden;
    white-space: nowrap;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.userLabel i{
    font-size: 50px;
}
.postImg i{
    font-size: 35px;
}
.postImg{
    margin:0;
    cursor: pointer;
    vertical-align: middle;
}

.message{
    width: 95%;
    margin: auto;
    margin-bottom: 30px;
    font-size: 16px;
}


/*user profile*/
form .userOption{
    margin: 20px 30px 0 30px;
    background-color: transparent;
    border: none;
    color: #bbbbbb;
    cursor: pointer;
}
form .userOption i{
    font-size: 35px;
}



@media only screen and (min-width: 991.5px) {
    .none_display:not(.show) {
        display: none!important;
    }
    .searchData{
        display: none!important;
    }
    .modal-dialog {
        max-width: 50%!important;
    }
    .comment_input_user {
        max-width: 91%;
        margin: 0 0 0 auto;
    }
}
@media only screen and (max-width: 991.5px) {
    .searchDataDesk{
        display: none!important;
    }
    .comment_input{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
    }
    
    .comment_head{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 1212;
    }
    .comment_head ul{
        margin: 0 34px 0 10px!important;
    }
    .comment_head ul li .fa-times{
        right: 9px;
        top: 6px;
    }
    .comments-list{
        margin-top: 30px;
    }
}

@media only screen and (min-width: 750px) {
    .comments-list .comment-box{
        min-width: 90%!important;
    }
}



::-webkit-scrollbar {
  width: 10px;
  display:none;
}

.show{
    display: block!important;
}
.show_modal{
    overflow: hidden !important;
}
.notShow{
    display: none!important;
}

.cursor{
    cursor: pointer!important;
}


/*swal*/
.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}
.swal-text {
    text-align: center !important;
}